<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %> 
    <main>
        <section>
            <div class="head-product">
                <div>
                    <img src="<%=product.image %>" class="foto">
                </div>
                
                   <!---PRODUCTO---> 
                    <div class="product">
                        <div class="main-product">
                            <h2>
                                <%= product.name %>
                            </h2>
                            <h3>
                                <%= product.model %>
                            </h3>   
                        </div>
                        <div class="main-product-precio">
                            <h4>
                                $<%= product.price %>
                            </h4>
                            <p>
                                Hasta 12 cuotas sin interes con tarjeta de credito
                            </p>
                            <a href="/productos/edit/<%= product.id %>"><button class="button-pedido">Editar producto</button></a>
                            <div class="prod-edit-button">
                                <form action="/productos/delete/<%= product.id %>?_method=DELETE" method="POST">
                                   <button type="submit" class="button-pedido"> Eliminar producto</button>
                                </form>
                            </div>
                            
                                <a href="/productos/shop"><button class="button-pedido"> Hacer pedido </button></a>
            
                        </div>
                    </div>
            </div>
        </section> 
       
        <section>
            <!--DETALLES DE COMPRA-->
            <div class="main-section-details">
                <div class="desplegable">
                    <ul>
                        <hr>
                        <li>
                            <a href="#">Asistencia de ventas <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Envios <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Denuncias y devoluciones <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                    </ul>
                </div>
                <!--DETALLE PRODUCTO-->

                <div class="main-section-info-product">

                    <h3>
                        Caracteristicas
                    </h3>
                    <p><%= product.detail %> </p>
                
                    
                </div>
                
            </div>
        </section>   
    </main>
</body>
<%- include('./partials/footer.ejs')  %> 
</html>