<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %> 
    <main>
        <section>
            <div class="head-product">
                <div>
                    <img src="/img/productos/i13-13.png" class="foto">
                </div>
                
                   <!---PRODUCTO---> 
                    <div class="product">
                        <div class="main-product">
                            <h2>
                                Apple
                            </h2>
                            <h3>
                                Iphone 13 PRO
                            </h3>   
                            <p>
                                256 GB Color:Grey
                            </p>
                        </div>
                        <div class="main-product-precio">
                            <h4>
                                $123000
                            </h4>
                            <p>
                                Hasta 12 cuotas sin interes con tarjeta de credito
                            </p>

                            
                            <a href="/productCart"><button class="button-pedido"> HACER PEDIDO </button></a>
                            
                        </div>
                    </div>
            </div>
        </section> 
        <hr>
        <section>
            <!--DETALLES DE COMPRA-->
            <div class="main-section-details">
                <div class="desplegable">
                    <ul>
                        <hr>
                        <li>
                            <a href="#">Asistencia de ventas <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Envios <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Denuncias y devoluciones <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                    </ul>
                </div>
                <!--DETALLE PRODUCTO-->

                <div class="main-section-info-product">

                    <h3>
                        Vision General
                    </h3>
                    <p>
                        iPhone 13 Pro. La mayor actualización del sistema de cámara profesional hasta la fecha. Pantalla Super Retina XDR con ProMotion para una sensación más rápida y con mayor capacidad de respuesta. Chip biónico A15 ultrarrápido. 5G ultrarrápido.  Diseño duradero y un gran salto en la duración de la batería.
                    </p>

                    <h3>
                        Caracteristicas Clave
                    </h3>
                    <ul>
                        <li>Pantalla Super Retina XDR de 6.1 pulgadas con ProMotion para una sensación más rápida y con mayor capacidad de respuesta</li>
                        <li>Sistema de cámara profesional con nuevas cámaras telefoto, gran angular y ultra gran angular de 12 MP; Escáner LiDAR; Rango de zoom óptico de 6x; fotografía macro; Estilos fotográficos; ProRes video 3 ; Smart HDR 4; Modo nocturno; Apple ProRAW; y grabación 4K Dolby Vision HDR</li>
                        <li>Cámara frontal TrueDepth de 12MP con modo nocturno y grabación 4K Dolby Vision HDR</li>
                        <li>Chip A15 Bionic para un rendimiento ultrarrápido</li>
                        <li>Hasta 22 horas de reproducción de video</li>
                        <li>Diseño duradero con Ceramic Shield</li>
                        <li>Resistencia al agua IP68 líder en la industria</li>
                        <li>5G para descargas ultrarrápidas y transmisión de alta calidad </li>
                        <li>iOS 15 incluye nuevas funciones para hacer más con el iPhone que nunca</li>
                        <li>Admite accesorios MagSafe para una conexión fácil y una carga inalámbrica más rápida</li>
                    </ul>

                    <h3>
                        El producto incluye
                    </h3>
                    <ul>
                        <li>Iphone</li>
                        <li>Cable USB-C a Lightning</li>
                    </ul>
                    
                </div>
                
            </div>
        </section> 
        <!--OFERTAS-->

        <hr>
        <h3>Ofertas</h3>
        
    <div class="off">
            <% for(let i = 0; i < ofertasProduct.length; i++){ %> 
            <article>
                
                    <div class="ofert-iphone">
                        <img src=<%= ofertasProduct[i].image %>  alt="Iphone11">
                        <h3>
                            <%= ofertasProduct[i].producto %>
                        </h3>
                        <p>
                            <%= ofertasProduct[i].precio %> 
                        </p>
                        <a href="/productCart"><button class="buy">COMPRAR</button></a>
                    </div>
            </article>  
        <% } %> 
    </div>    
    </main>
</body>
<%- include('./partials/footer.ejs')  %> 
</html>