<!DOCTYPE html>
<html lang="es">
  <!--Head-->
  <%- include('./partials/head.ejs')%>

  <!--Styles-->
  <link rel="stylesheet" href="/css/styles-prod-AddEdit.css"/>

  <!--Body Code-->
  <body>
    <!--Main Code-->
    <main>
      <!--Codigo Correspondiente a Section Formulario-->
      <div class="register">
        <form method="POST" action="/productos/edit/<%=producto.id%>?_method=PUT" class="datos" enctype="multipart/form-data">
          <!--Codigo Correspondiente a Logo de Formulario-->
          <div class="contenedor-logo">
            <a href="/"><img src="/img/at-logo-completo.png" alt="Logo de Alibatec"/></a>
          </div>
          <h3>Edita tu Producto</h3>
          <h3><%=producto.marca.tipo%></h3>
          

          <!--Codigo Correspondiente a Nombre de Producto-->
          <div class="formulario__grupo">
            <label for="name" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="marca"
                placeholder="<%=producto.marca.tipo%>"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a model-->
          <div class="formulario__grupo">
            <label for="model" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="model"
                placeholder="<%=producto.model%>"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Descripción-->
          <div class="formulario__grupo">
            <label for="detail" class="formulario__label"></label>
            <div class="formulario__grupo-input">
                <input
                  type="text"
                  class="formulario__input"
                  name="detail"
                  placeholder="<%=producto.detail%>"
                />
            </div>
          </div>

          <!--Codigo Correspondiente a Imagen-->
          <div class="formulario__grupo">
            <label for="imagen" class="formulario__label">Imagen de Producto</label>
            <div class="formulario__grupo-input">
              <input
                type="file"
                name="imagen"
                multiple
                class="formulario__input"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Categoria-->
          <div class="formulario__grupo">
            <label for="categoria" class="formulario__label">
              Selecciona su Categoria</label>
            <div class="formulario__categoria">
              <label class="category-text">Categoria</label> 
              <select name="category">
                    <option value="<%= producto.category.id %>" selected>
                      <%= producto.category.category %> 
                    </option>
                      <option value="<%= producto.category.id %>">
                        <%= producto.category.category %> 
                      </option>
              </select>
          </div>

          <!--Codigo Correspondiente a price-->
          <div class="formulario__grupo">
            <label for="price" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="number"
                class="formulario__input"
                name="price"
                placeholder="<%=producto.price%>"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Descuento-->
          <div class="formulario__grupo">
            <label for="discount" class="formulario__label"></label>
            <div class="formulario__grupo-input">
                <input
                  type="number"
                  class="formulario__input"
                  name="discount"
                  placeholder="Descuento"
                />
            </div>
          </div>

          <!--Codigo Correspondiente a Boton de Carga-->
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">
              Guardar cambios
            </button>
          </div>
        </form>

        <!--Codigo Correspondiente a Div Banner-->
        <div class="banner"></div>
      </div>
    </main>
  </body>
</html>
