<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %> 
    <main>
        <section>
            <div class="head-product">
                <div>
                    <img src="/img/productos/<%=product.image %>" class="foto">
                </div>
                
                   <!---PRODUCTO---> 
                    <div class="product">
                        <div class="main-product">
                            <h2>
                                <%= product.name %>
                            </h2>
                            <h3>
                                <%= product.model %>
                            </h3>   
                            <p>
                                <%= product.detail %>
                            </p>

                        </div>
                        <div class="main-product-precio">
                            <h4>
                                $<%= product.price %>
                            </h4>
                            <p>
                                Hasta 12 cuotas sin interes con tarjeta de credito
                            </p>
                            <div class="prod-edit-button">
                                <a href="/productos/edit/<%= product.id %>">Editar producto</a>
                                <form action="/productos/delete/<%= product.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="button-pedido"> Eliminar producto</button>
                                </form>
                            </div>


                            <a href="/productos/shop"><button class="button-pedido"> HACER PEDIDO </button></a>
                            
                        </div>
                    </div>
            </div>
        </section> 
        <hr>
        <section>
            <!--DETALLES DE COMPRA-->
            <div class="main-section-details">
                <div class="desplegable">
                    <ul>
                        <hr>
                        <li>
                            <a href="#">Asistencia de ventas <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Envios <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Denuncias y devoluciones <i class="fas fa-sort-down"></i></a>
                        </li>
                        <hr>
                    </ul>
                </div>
                <!--DETALLE PRODUCTO-->

                <div class="main-section-info-product">

                    <h3>
                        Vision General
                    </h3>
                    <p>
                        iPhone 13 Pro. La mayor actualización del sistema de cámara profesional hasta la fecha. Pantalla Super Retina XDR con ProMotion para una sensación más rápida y con mayor capacidad de respuesta. Chip biónico A15 ultrarrápido. 5G ultrarrápido.  Diseño duradero y un gran salto en la duración de la batería.
                    </p>

                    <h3>
                        Caracteristicas Clave
                    </h3>
                    <p>
                        <%= product.detail %>
                    </p>

                    <h3>
                        El producto incluye
                    </h3>
                    <ul>
                        <li>Iphone</li>
                        <li>Cable USB-C a Lightning</li>
                    </ul>
                    
                </div>
                
            </div>
        </section>   
    </main>
</body>
<%- include('./partials/footer.ejs')  %> 
</html>