<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %> 

    <main>
      <article class="destacados">
        <% for (let i = 0; i < products.length; i++) { %>
        <div class="producto">
          <div class="img-product">
              <img class="images" src="/img/productos/<%=products[i].image %> " alt="a-watch">
          </div>
          <div class="precio-detalle">
              <div class="detalle-producto">
                  <div class="tipo">
                      <a href="/productos/detail/<%= products[i].id %>"><%= products[i].model%></a>
                  </div>
               <a href="/productos/detail/<%= products[i].id %>" class="precio">$<%= products[i].price%></a>
              </div>
              <div class="buy">
                  <a href="/productos/detail/<%= products[i].id %>" class="buy-btn">Comprar</a>
              </div>
          </div>
        </div>
        <% } %>
      </article>
    </main>
</body>

<%- include('./partials/footer.ejs') %> 

</html>

