<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="profile-complete">
            <div class="profile">
                <img class="profile-avatar" src="/img/users/<%=user.image %>" alt="">
            </div>
            <div class="info-profile">
                <h2>Datos Personales:</h2>
                <h3><%= user.name %></h3>
                <h3><%= user.email %></h3>
                <h3>Categoría</h3>
                <div class="prod-edit-button">
                
                <button class="button-pedido"><a href="/productos/add">Publica tu producto</a></button>
                </div>
            </div>
        </div>
        
    </main>
</body>
<%- include('./partials/footer.ejs')  %>
</html>